* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(58, 58, 58);
  color: white;
}

.nav-text {
  background-color: rgb(58, 58, 58);
}

.nav-text a:hover {
  color: rgb(127, 158, 66);
  border-bottom: 1px solid blue;
}

.whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(58, 58, 58);
}

.btn:hover {
  background-color: yellowgreen;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: ;
  margin-top: 20px;
}

.about-text p {
  font-size: large;
  font-weight: 500;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: black;
  padding: 10px;
}

.slide {
  overflow: hidden;
}

.right {
  color: black;
  background-color: black;
}

.control-button {
  background-color: rgba(0, 0, 0, 0.651);
}

.control-button:hover {
  background-color: rgb(0, 0, 0);
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 50px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.item-card {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  color: white;
  width: 350px;
  height: 350px;
  transition: all 0.2s;
}

.item-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.item-card:hover {
  border-bottom: 2px solid blue;
  transform: scale(1.05);
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: large;
  font-weight: 200;
  background-color: rgba(0, 0, 0, 0.651);
  width: 500px;
  height: 150px;
}

.slide-text h2 {
  font-size: large;
  font-weight: 900;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(58, 58, 58);
  color: white;
  height: 500px;
  margin-top: 20px;
  position: relative;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 20px;
  height: 150px;
  margin-left: 5px;
}

.contact span:hover {
  color: rgb(127, 158, 66);
  border-bottom: 1px solid blue;
  cursor: pointer;
}

.contact :nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: red;
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 40px;
  margin: 10px 0px 10px 0px;
}

.logo {
  width: 100px;
  background-color: white;
}

.item-logo {
  background-color: white;
  width: 120px;
  border-bottom: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserved {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.map {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
    margin-top: 500px;
    margin-bottom: 500px;
  }

  .reserved {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9.6px;
  }

  .slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: medium;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.651);
    width: 400px;
    height: 150px;
  }
  .item-card {
    width: 300px;
    height: 365px;
  }
}
